html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* flexbox */
.flex-container {
    width: 80%;
    margin: 0 auto;
}

.flex-row {
    display: flex;
}

@media (max-width: 400px) {
    .flex-row {
        flex-direction: column;
    }
}

.flex-item {
    flex: 1 1 0;
    position: relative;
    margin: 20px 0 20px 20px;
}

.flex-row[data-margin="0"] .flex-item,
.flex-row[data-margin="0"] .flex-item:last-child {
    margin: 0;
}

div[data-layout="column"] {
    display: flex;
    flex-direction: column;
}

/* all evenly distributed cols */
.flex-row .flex-item {
    flex: 1 1 0;
    position: relative;
    margin: 20px 0 20px 20px;
}

.flex-row .flex-item:last-child {
    margin-right: 20px;
}

.flex-item .flex-row .flex-item {
    margin-top: 0;
}

.flex-item[data-weight="2"]{
    flex: 2 2 40px;
}

.flex-item[data-weight="3"]{
    flex: 3 3 40px;
}

.flex-item[data-weight="4"]{
    flex: 4 4 40px;
}

/*-----------------------------------------------------------------------------------*\
    #Tooltip 
\*-----------------------------------------------------------------------------------*/
.tooltip {
    position: absolute;
    padding: 8px;
    background: rgba(255, 2555, 255, 0.75);
    color: #000;    
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    font: 12px sans-serif;
    line-height: auto;
    pointer-events: none;
}

.tooltip p {
    margin-bottom: 3px;
}

.tooltip td {
    padding: 3px;
}

/*-----------------------------------------------------------------------------------*\
    #Market / Properties
\*-----------------------------------------------------------------------------------*/

.market-card {
    height: 430px;
    margin-bottom: 40px;
    border: 2px solid #000;
    padding: 10px 10px 25px;
    text-align: center;
}

@media (max-width: 480px) {
    .market-card {
        height: auto;
    }
}

.market-card ul {
    margin-top: 20px;
}

.market-card ul li {
    margin-bottom: 5px;
}
    
.market-card img {
    width: auto;
    max-height: 100px;
}

.market-card .market-card-title {
    color: #003264;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

.market-card .market-card-label {
    margin-bottom: 0;
    color: #003264;
    font-weight: bold;
}

.market-card .market-card-type {
    margin-bottom: 0;
}

/*-----------------------------------------------------------------------------------*\
    #End Market / Properties
\*-----------------------------------------------------------------------------------*/